$back-color: #84cae5;
$body-background: #d2f2ff;
$regular-border: 2px solid #67b2cf;
$regular-shadow: 4px 4px 5px #0000003a;
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 150px) {
  .cabecera {
    background-color: $back-color;
    padding: 20px;
    border: $regular-border;
    border-radius: 10px;
    box-shadow: $regular-shadow;
    .title {
      font-weight: 600;
    }
  }
  .principal {
    background-color: $back-color;
    border: $regular-border;
    box-shadow: $regular-shadow;
    border-radius: 10px;
    padding: 25px;

    .controladores {
      .controlador {
        margin: 0px 15px;
        box-shadow: $regular-shadow;
        padding: 15px 20px;
        .controller-title {
          font-size: 20px;
        }
        .num-input {
          width: 100px;
          font-size: 25px;
        }
        .sumar {
          background-color: #000000a2;
          color: #ffffffd5;
          transition: 300ms;
        }
        .sumar:hover {
          background-color: #2c2c2c96;
        }
        .restar {
          background-color: rgb(201, 213, 231);
          color: #222;
          border: 1px solid #333;
          transition: 300ms;
        }
        .restar:hover {
          background-color: rgb(179, 182, 189);
        }
        .sumar-restar {
          height: 40px;
          width: 40px;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .numero {
          font-size: 25px;
          font-weight: 600;
        }
      }
    }
    .timer {
      box-shadow: $regular-shadow;
      .timer-title {
        padding: 0;
        font-size: 25px;
        font-weight: 600;
      }
      .change-button {
        background-color: $back-color;
        font-size: 12px;
        transition: 300ms;
        padding: 6px;
      }
      .change-button:hover {
        background-color: #96d3eb;
      }
      .time-left {
        font-size: 50px;
        font-weight: bold;
      }
      .frase {
        font-size: 18px;
        font-weight: 200;
      }
      .to-do-section {
        .to-do-title {
          font-weight: 600;
        }
      }
      .to-do-list {
        list-style: none;
        .task {
          background-color: $body-background;
          margin: 10px 0px;
          padding: 2px 2px 2px 10px;
          transition: 300ms;
          .task-name {
            font-size: 15px;
            text-align: left;
          }
          .task-button {
            font-size: 10px;
            margin: 1px;
            padding: 5px;
            @media (min-width: 350px) {
              font-size: 12px;
            }
            @media (min-width: 400px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .pie {
    background-color: $back-color;
    border: $regular-border;
    border-radius: 10px;
    box-shadow: $regular-shadow;
    padding: 15px;
  }

  .session-box {
    background-color: #56a7c7;
  }
  .break-box {
    background-color: #a7d8e9;
  }
}

@media (min-width: 415px) {
  .principal {
    .timer {
      .change-button {
        font-size: 16px;
        padding: 6px 12px;
      }
    }
  }
}

@media (min-width: 768px) {
  .principal {
    .controladores {
      .controlador {
        .controller-title {
          font-size: 30px;
        }
      }
    }
    .timer {
      .timer-title {
        font-size: 35px;
      }
      .frase {
        font-size: 25px;
      }
    }
  }
}
